@font-face {
    font-family: Norse-Bold;
    src: url(fonts/Norse-Bold.otf);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }

#container {
    display: flex;
    flex-direction: row;
}

#left-container {
    background-image: url("images/halie-west-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#left-container a:visited {
    color: white;
}

#right-container {
    background-color: rgb(249, 249, 249);
}

.opening-text {
    font-size: 1.3rem;
    font-weight: 600;
}

#form-container {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 20px;
    padding-left: 35px;
    box-shadow: 5px 5px 5px #c0c0c0;
}

#form-container input {
    min-width: 200px;
    min-height: 25px;
    border-color: #E5E7EB;
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  #form-container input:focus {
    border: 1px solid blue;
    box-shadow: 2px 2px 2px rgb(144, 144, 249);
  }

#form-container h3 {
    font-size: 22px;
}

form {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
}

.form-element {
    margin-right: 50px;
    margin-top: 12px;
}

#text-container {
    padding: 100px 120px 20px 20px;
    margin-left: 10px;
    width: 60%;
}

#decision-container button {
    background-color: #596d48;
    color: white;
    height: 40px;
    padding: 10px 50px 10px 50px;
    border-radius: 5px;
    border-color: white;
    font-size: 15px;
    margin-bottom: 15px;
    box-shadow: 1px 1px 1px #c0c0c0;
}

#decision-container a {
    color:  #596d48;
    text-decoration: none;
}

.form-element label {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    display: block;
    font-weight: bold;
    color: rgb(48, 48, 48);
    letter-spacing: 2px;
}

#decision-container {
    margin-top: 20px;
    margin-left: 40px;
}

#decision-container p {
    font-weight: bold;
}

#logo-container {
    background-color: rgba(101, 97, 97,0.6);
    text-align: center;
    height: 200px;
    margin-top: 200px;
}

#logo-container img {
    max-width: 120px;
    margin-top: 10px;
}

#logo-container p {
    font-family: Norse-Bold, sans-serif;
    color: white;
    text-transform: uppercase;
    display: inline;
    font-size: 80px;
    position: relative;
    bottom: 40px;
}

footer {
    color: white;
    text-align: center;
    justify-content: flex-end;
 }